<h3>Satellite Counts:</h3>
<div class="counts" >
   <div>Total: <span>{{satellites.length}}</span></div>
   <div >Space Debris: <span>{{this.countType("Space Debris")}}</span></div>
   <div >Communication: <span>{{this.countType("communication")}}</span></div>
   <div>Probe: <span>{{this.countType("Probe")}}</span></div>
   <div>Positioning: <span>{{this.countType("Positioning")}}</span></div>
   <div>Space Station: <span>{{this.countType("Space Station")}}</span></div>
   <div>Telescope: <span>{{this.countType("Telescope")}}</span></div>
</div>